---
- name: update apt repositories
  apt: update_cache=yes

- name: upgrade distribution
  apt: upgrade=dist
  notify:
    - generate locales
    - reconfigure locale for installed packages

- name: install apt packages
  apt: pkg={{ item }} state=latest
  with_items:
    - python-pip
    - python-software-properties
