---
- name: install python packages
  apt: pkg={{ item }} state=latest
  with_items:
    - git-core
    - python-dev
    - python-setuptools
    - cython
    - python-virtualenv
    - virtualenvwrapper
